<div class="row">
	<div class="col-md-4 border_edit">
		<h4>Редактировать имя <br>изменить картинку</h4>
		<br>
	
	
		<h4><%= link_to 'Редактировать все данные ', edit_user_registration_path(current_user) %></h4>	
	</div>
	<div class="col-md-8 border_edit_form">
		<div class="wrap_form1">
			<%= render 'form', user: @user %>			
		</div>
	</div>
</div>





