


<div class="row">
	<div class="col-md-3">
		<h5>Подписчики</h5>
		<% @user.followers.each do |user| %>
		<p>
			<%= link_to user.name, user_path(user) %>
			
		</p>
		<% end %>
	</div>	
	<div class="col-md-3">		
		<h5>Ваши Подписки</h5>
		<% @user.followed_users.each do |user| %>
		<p>
			<%= link_to user.name, user_path(user) %>
			
		</p>
		<% end %>
		
	</div>
</div>